<footer class="bg-light py-4 mt-auto fixed-bottom" style="background-color: #eddcd3 !important;">
    <div class="container text-center">
        <p>©Bucket-List {{ "now"|date("Y") }}</p>
    </div>
</footer>