{% extends 'base.html.twig' %}

{% block title %}Access denied{% endblock %}

{% block body %}
    <h1>Erreur 403 : Access denied</h1>
    <p>You do not have permission to access this page.</p>
    <p>If you think this is an error, please contact the site administrator.</p>
{% endblock %}